<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mine.violet.mapper.BlogTagMapper">

    <update id="updateId" parameterType="com.mine.violet.entity.BlogTag">
        update blog_tag set is_delete = #{deleteId} where id =#{tagId}
    </update>

</mapper>
